# Copyright (c) 2023 - 2026 Chair for Design Automation, TUM
# Copyright (c) 2025 - 2026 Munich Quantum Software Company GmbH
# All rights reserved.
#
# SPDX-License-Identifier: MIT
#
# Licensed under the MIT License

line-length = 120
preview = true
fix = true
unsafe-fixes = true
show-fixes = true

[format]
docstring-code-format = true

[lint]
select = ["ALL"]

[lint.per-file-ignores]
"docs/**" = ["E501", "INP001", "T20"]

[lint.pydocstyle]
convention = "google"
