# Copyright (c) 2023 - 2026 Chair for Design Automation, TUM
# Copyright (c) 2025 - 2026 Munich Quantum Software Company GmbH
# All rights reserved.
#
# SPDX-License-Identifier: MIT
#
# Licensed under the MIT License

# Documentation builds require Python 3.14
furo>=2025.12.19
matplotlib>=3.11.1
mqt-bench~=2.2.3
mqt-ddsim~=2.5.0
mqt-qcec~=3.9.0
mqt-qmap~=3.9.0
myst-nb>=1.4.0
qiskit[visualization]>=1.0.0
sphinx>=9.0
sphinx-copybutton>=0.5.2
sphinx-llm>=1.0.0
sphinx-design>=0.7.0
sphinxcontrib-bibtex>=2.7.0
sphinxcontrib-svg2pdfconverter>=2.1.0
sphinxext-opengraph>=0.13.0
